.characters-container {
  text-align: center;
}

.characters-container h1 {
  font-variant: small-caps;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.character-card-link {
  display: inline-block;
  text-align: center;
  border-radius: 8px;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  background-color: rgb(211, 211, 211);
  color: rgb(0, 0, 0); 
  width: calc(33.33% - 270px);
  margin-bottom: 20px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.character-card-link:last-child {
  margin-right: 0;
}

.character-card-link:hover {
  transform: scale(1.05); 
  background-color: rgb(204, 204, 204);
}

.character-card-link:hover .character-name {
  color: red; 
}

.character-name {
  font-weight: bold;
  font-size: 16px; 
  transition: color 0.5s ease;
}

.character-description {
  margin-top: 8px;
  font-size: 14px;
  color: #555;
}

.character-img {
  width: 150px;
  height: 250px; 
  object-fit: cover;
  border-radius: 8px;
}
