.header {
    text-align: center;
    background-color: #242424;
    position: relative; /* Adiciona position: relative */
}

.header img {
    width: 11%;
    margin-bottom: 1.5%;
}

.menu {
    text-align: right;
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    right: 15px;
}

.menu li {
    display: inline;
    margin-right: 50px;
}

.menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.4s ease; /* Adiciona uma transição de cor com 0.3 segundos de duração */
}

.menu li a:hover {
    color: rgb(255, 0, 0);
}