.div-home {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  }
  
.home-container {
  max-width: 800px;
  margin: 10px;
  text-align: justify;
}
  


.home-container h1 {
  font-size: 24px;
  font-variant: small-caps;
  text-align: center;
}
  
.home-container p {
  font-size: 16px;
  line-height: 1.5;
}
  
.div-home img {
  max-width: 80%; 
  border-radius: 12px;
  margin-top: 20px;
  padding-bottom: 40px;
}
  